{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<section class="py-5">
  <div class="container">
    <h2>Admin Login</h2>
    <div class="col-md-6">
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.password.label(class_="form-label") }}
          {{ form.password(class_="form-control") }}
        </div>
        <div>{{ form.submit(class_="btn btn-primary") }}</div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
